 .row {
    position:absolute;
    width: 100%;
    height: 100%;
}

/* .loginpict {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    
} */

.loginh4 {
    font-weight: bold;
}

.login {
    vertical-align: middle;
    margin-top: 15%;
    margin-right: 200px;
}


.login-button {
    background-color: #7126B5;
    border-color: #7126B5;
    margin-top: 16px;
    border-Radius: '10px';
}

.loginp {
    text-align:center;
    padding-top: 40px;
}
.pass-login{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

@media screen and (max-width: 1023px) {
    .loginpict {
      display: none; 
    }
    .login {
        /* width: 80%; */
        /* position:inherit; */
        margin: 110px 30px 0 50px;
    }
    .loginp {
        text-align: center;
        padding-top: 200px;
    }
}

/********************
 * Home
 ********************/
.logo {
    width: 100px;
    height: 34px;
    background-color: #4B1979;
}